################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
parts = part
[versions]
setuptools = 0.6c9
minitage.recipe  >= 0.0.1
minitage.core>=0.0.4

[part]
name = part
recipe = minitage.recipe:cmmi
url = http://www.ece.uvic.ca/~mdadams/jasper/software/jasper-1.900.1.zip
md5sum = a342b2b4495b3e1394e161eb5d85d754
pre-configure-hook=${buildout:directory}/hooks/libjpeg.py:pre_configure
configure-options=--enable-libjpeg

